@font-face {
  font-family: ubuntu;
  src: url("../ubuntu-font-family-0.80/Ubuntu-L.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(146, 199, 201);
}

.box-wrapper {
  margin: 40px auto;
  width: 30vw;
  display: flex;
  flex-direction: column;
}

.box-wrapper .box {
  border: blueviolet solid 1px;
  padding: 2.1rem;
  text-align: center;
  font-family: ubuntu;
}
